.app.dark {
    --bg-color: #101738;
    --inverted-bg-color: #fff;
    --primary-color: #a0dca0;
    --secondary-color: #c1c7bb;
    --interted-primary-color: #001b59;
    --interted-secondary-color: #0028e8;
}
