.app.dark {
    --bg-color: #101738;
    --inverted-bg-color: #fff;
    --primary-color: #41a841;
    --secondary-color: #c1c7bb;
    --inverted-primary-color: #001b59;
    --inverted-secondary-color: #0028e8;
}
