.app_light_theme {
    --bg-color: #dadafd;
    --inverted-bg-color: #001b59;
    --primary-color: #001b59;
    --secondary-color: #0028e8;
    --inverted-primary-color: #41a841;
    --inverted-secondary-color: #c1c7bb;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #aeaecb;

    // listbox
    --listbox-bg: #aeaecb;
}
